PORT=
TOKEN_KEY=
# For Prisma migration you need to follow this structure
DATABASE_URL="mongodb+srv://<USERNAME>:<PASSWORD>@firstcluster.ydgyukf.mongodb.net/mini-social-app?retryWrites=true&w=majority&authSource=admin"


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=