PORT=
FRONTEND_ORIGIN=
TOKEN_KEY=
# For Prisma migration you need to follow this structure
DATABASE_URL="mongodb+srv://<USERNAME>:<PASSWORD>@firstcluster.ydgyukf.mongodb.net/mini-social-app?retryWrites=true&w=majority&authSource=admin"